<!-- <div class="alert alert-danger" *ngIf = "showErrorMessage" role="alert">
  {{errorMessage?.message}}
</div>
<div class="container">
  <h1 class="m-4">A Blogging Place</h1>
  
  <div class="card">
    <div class="card-header p-2">
      BLOGGING IS MY PASSION
    </div>
    <div class="card-body">
      <h5 class="card-title">Please add an article</h5>
      <div class="form-group">
        <label for="title">Blog Logo</label>
        <input id="logo"  [(ngModel)]="blogLogo" class="form-control" type="text" name="logo">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title"  [(ngModel)]="blogTitle" class="form-control" type="text" name="title">
      </div>
      <div class="form-group">
        <label for="article">Text</label>
        <textarea id="article" #Content [(ngModel)]="content" class="form-control" name="article" rows="3"></textarea>
      </div>
      <a class="btn btn-primary" (click)= "saveFormData()">Submit</a>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>

<!-- <section class="container-fluid padding2">
  <div class="container">
    <app-article (errorMessage)="getErrorMessage($event)" [newArticle]="article">
    </app-article>
    {{blogLogo}}
    {{blogTitle}}
    {{content}}
  </div>
</section> -->